@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #222;
}
.navbar {
  padding: 0.8rem;
}

.navbar-nav li {
  padding-right: 20px;
}
a.nav-link {
  font-size: 1.1em !important;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  text-shadow: 2px 2px 9px black;
  text-transform: uppercase;
}
.carousel-caption h3 {
  font-weight: 500;
  font-size: 200%;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.btn-primary {
  background-color: #6648b1;
  border: 1px solid #563d7c;
}
.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #563d7c;
}

.jumbotron {
  padding: 15px;
  border-radius: 0;
}
.padding {
  padding-bottom: 2rem;
}
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 90%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}
.fa-code {
  color: #e54d26;
}
.fa-bold {
  color: #543d7c;
}
.fa-css3 {
  color: #2163af;
}
.fa-code,
.fa-bold,
.fa-css3 {
  font-size: 4em;
  margin: 1rem;
}
.col2 img {
  width: 100%;
}
.card img {
  width: 100%;
}

.social a {
  font-size: 4.5em;
  padding: 3rem;
}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-google-plus-g {
  color: #dd4b39;
}
.fa-instagram {
  color: #517fa8;
}
.fa-youtube {
  color: #bb0000;
}
footer {
  background-color: #3f3f3f;
  color: #d5d5d5 !important;
  padding-top: 2rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

.rus {
  padding-bottom: 0;
  margin-bottom: 0;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #d5d5d5;
}
footer hr {
  border-top: 1px solid #d5d5d5;
  width: 95%;
}
/*---Media Queries --*/
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
#fixed {
  background-image: url("img/mac.png");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

@media only screen and (max-width: 788px) {
  .display-2 {
    font-size: 1.5rem;
  }
  .carousel-caption h3 {
    font-size: 1rem;
  }
  .btn-lg {
    padding: 4px;
    font-size: 0.7rem;
  }
  .carousel-caption {
    top: 30%;
  }
  img {
    width: 100%;
  }
}
